<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652040744191-2mmiib4c148j22ed0errn3ip9eum2lvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652040744191-2mmiib4c148j22ed0errn3ip9eum2lvk</string>
	<key>API_KEY</key>
	<string>AIzaSyDTS54tGjn6ngwYIO8HzZK9w6raC08o0kk</string>
	<key>GCM_SENDER_ID</key>
	<string>652040744191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dowhile26.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-bf383</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-bf383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652040744191:ios:42b85a225cca51dcde70ca</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-bf383.firebaseio.com</string>
</dict>
</plist>